main {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100vw;
}

h2 {
    position: absolute;
    top: 20vh;
}