h2 {
    top: 15vh;
}

main ul, main li {
    display: grid;
}

main ul {
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding: 0;
}

main li {
    list-style: none;
}

main li label {
    grid-template-columns: auto 1fr;
    gap: 1vh;
}