h2 {
    top: 15vh;
}

ul, li {
    display: grid;
}

ul {
    grid-template-columns: 1fr 1fr;
    gap: 2vh;
    padding: 0;
}

li {
    list-style: none;
}

li label {
    grid-template-columns: auto 1fr;
    gap: 1vh;
}