h1 {
    color: black;
    margin-left: 4.1vh;
    margin-bottom: 2vh;
    padding-top: 10vh;
    text-align: center;
}

label {
    margin-left: 4.1vh;
}

input {
    background-color: #bec1c4;
}

#quantidade {
    margin-top: 10vh;
}

select {
    background-color: #bec1c4; 
}

form {
    width: fit-content;
    margin: auto;
}

input[type="submit"] {
    background-color: #10446c;
    margin-left: 20vw;
    color: white;
    border-radius: 30px;
    border: 1px, black;
}

button {
    height: 15px;
    border-radius: 50%;
}