main {
    padding-top: 14vh;
    height: fit-content;
}

section {
    width: 100%;
    padding-bottom: 5.6vh;
}

table {
    margin: auto;
}

section th {
    width: 50%;
}

section:first-child th {
    width: calc(100% / 3)
}