body {
    background-color: #EDF2F7;
}

h1 {
    padding-top: 20vh;
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: fit-content;
    margin: auto;
}

input {
    border-radius: 30px;
    border: 1px, black;
    background-color: #bec1c4;
}

#senha {
    width: 70.5%;
}

#acessar {
    width: 100%;
    text-align: center;
}

#acessar input {
    background-color: #10446c;
    font-family: Andale Mono, monospace;
    margin: 10px 0 40px 0;
    color: white;
}

p {
    text-align: center;
}
