h2 {
    top: 20vh;
}

input[type="radio"] {
    display: none;
}

.star {
    padding-bottom:  2vh;
    cursor: pointer;
    transition: all ease-in-out .1s;
}

#rating {
    width: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}