#doadores {
    display: block;
}

#doacoes {
    display: none;
}

#geral {
    display: none;
}

#manutencoes {
    display: none;
}

#funcionarios {
    display: none;
}

h1 {
    color: black;
    margin-top: 10px;
}

#menuGeral {
    height: 91.6vh;
    width: 40vh;
    background-color: #10446c;
    margin-top: -556px;
    position: absolute;
}





