#doadores {
    display: none;
}

#doacoes {
    display: none;
}

#geral {
    display: none;
}

#manutencoes {
    display: none;
}

#funcionarios {
    display: none;
}

h1 {
    color: black;
}

#menuGeral {
    height: 100vh;
    width: 40vh;
    background-color: blue;
}

ul {
    margin-bottom: 100px;
}






