header {
    box-sizing: border-box;
    width: 100vw;
    height: 8.4vh;
    background-color: #10446c;
    position: absolute;
    padding: 0 0.694vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

nav, header section {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    cursor: pointer;
}

nav figure {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home img, .menu img {
    height: 100%;
}

#pages figure {
    color: white;
    font-size: 0.972vw;
    padding: 0 0.694vw;
}

#pages img {
    width: 2.083vw;
    align-self: center;
}

.hidden {
    opacity: 0;
    cursor: default;
}

#menu {
    color: #d9dcdde3;
    border-radius: 5px;
    border: 1px #d9dcdde3 solid;
    background-color: #10446c;
    position: absolute;
    right: 0;
    top: 8vh;
    height: fit-content;
    transition: opacity .19s ease-in-out;
}

#menu ul {
    padding: 2px;
}

#menu li {
    list-style: none;
    padding: 2.5px 8px 2.5px;
    border-radius: 5px;
}

#menu li:first-child {
    padding-top: 3px;
}

#menu li:last-child {
    padding-bottom: 3px;
}

#menu li:hover {
    background-color: rgba(255, 255, 255, 0.089);
}

.danger {
    color: rgb(221, 4, 4);
}