main {
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    width: 100vw;
}

input {
    border-radius: 30px;
    border: 1px, black;
    background-color: #bec1c4;
}

#acessar {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#acessar input {
    background-color: #10446c;
    font-family: Andale Mono, monospace;
    color: white;
    cursor: pointer;
}

.campo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-bottom: 10px;
}

.campo input {
    width: 100%;
}

form {
    padding: 2vw;
    border-radius: 1vw;
    background-color: #10446cc7;
    color: white;
}

figure {
    text-align: center;
}

figure img[src*="logo"] {
    height: 14vh;
}

form p {
    padding-top: 10px;
}