.profile, #popup-content {
    margin: 20px auto;
    background-color: #c0dcdc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.profile {
    max-width: 800px;
}

.profile-header {
    padding: 20px;
    border-bottom: 1px solid rgba(209, 240, 240, 0.698)
}

#profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-info {
    text-align: center;
}

.info {
    font-size: 1.2em;
}

p.info {
    text-align: left;
}

#email {
    color: #777;
    font-size: 16px;
}

.profile-body {
    padding: 20px;
}

.title {
    font-weight: bold;
}

#update {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}

a {
    color: #3379ad;
}

form {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

#foto {
    display: none;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#popup-content {
    padding: 4vh;
}

#crop-preview {
    width: 300px;
}

#submit {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .profile {
        margin: 10px;
    }

    #profile-picture {
        margin-bottom: 10px;
    }

    .profile-info {
        margin: 0;
    }
}