body {
    background-color: #9fa3a7;
}

#type {
    padding-top: 8vh;
    width: 100%;
    box-sizing: border-box;
}

#type button {
    width: 20%;
    height: 8vh;
}

#type .selected {
    background-color: #9fa3a7;
    border: none;
}

input {
    border-radius: 30px;
    border: 1px, black;
    background-color: #bec1c4;
}

#submit {
    width: 100%;
    height: fit-content;
    text-align: center;
}

#submit input {
    background-color: #10446c;
    font-family: Andale Mono, monospace;
    color: white;
}

p {
    text-align: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
    width: 100vw;
}

.campo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-bottom: 10px;
}

.campo input {
    width: 100%;
}