#type {
    padding-top: 8vh;
    width: 100%;
    box-sizing: border-box;
}

#type button {
    width: 20%;
    height: 8vh;
}

#type button:not(.selected) {
    cursor: pointer;
}

#type .selected {
    border: none;
    background-color: inherit;
}